/* Importação de fontes locais */
@font-face {
    font-family: 'ITC Officina Serif Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Officina Serif Std Book'), url('../assets/fontes/itc-officina-serif-std-book-58703733c9fd5.woff') format('woff');
    }

    @font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    size-adjust: 85%;
    src: local('Lemon/Milk Regular'), url('../assets/fontes/LemonMilk.woff') format('woff');
    }

/*Variáveis para cores e fontes*/
:root{
    /*Modo claro*/
    --primary-color: rgb(245, 249, 240);
    --bg-color1: rgb(230, 232, 226);
    --bg-color2: rgb(207, 207, 200);
    --title-color: rgb(22, 21, 22);
    --text-color: rgb(94, 93, 93);
    --border-color: rgb(255, 255, 255, 0);



    /*Definição das fontes principais*/
    --font-primary: 'ITC Officina Serif Std Book'; 
    --font-title: 'Lemon/Milk Regular';
    /* --font-primary: 'Montserrat', sans-serif;
    --font-title: 'Trade Winds', sans-serif; */
}

/* Modo escuro */
.dark-mode {
    --primary-color: rgb(0, 0, 0);
    --bg-color1: rgb(27, 27, 27);
    --bg-color2: rgb(19, 19, 19);
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(158, 158, 158);
    --border-color: rgb(255, 255, 255, 0);

 
}

/* Modo de alto contraste */
.high-contrast {
    --primary-color: black;
    --bg-color1: black;
    --bg-color2: black;
    --title-color: yellow;
    --text-color: white;
    --border-color: white;

    /* apoie se */
    
}