@media (max-width: 768px) {
    
    header {
        transition: height 0.3s ease;
    }
    
    header.scrolled {
        height: 60px;
    }

    /* header.scrolled .logo-absolute img {
        height: 80px;
    } */
    
    .hamburguer {
        display: flex;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        padding: 1rem 0 2rem 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        text-align: center;
        padding: 10px 0;
    }
}

/* --- Responsividade para a Seção de Contato --- */
@media (max-width: 820px) {
    .contact-grid {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .contact-details {
        text-align: center;
    }

    .contact-item {
        justify-content: center;
    }
}

/* Responsividade Geral */
@media (max-width: 768px) {
    .products-grid {
        /* display: block; */
        gap: 20px;
    }

    /* .product-card img {
        width: 17rem;
        height: 17rem;
        object-fit: cover;
    } */

    .content-grid,
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    nav ul {
        display: none;
    }

    .hero-content h2 {
        font-size: 2rem;
    }
}

/* Responsividade Causa */
@media (max-width: 768px) {
    #causa h2 {
        font-size: 2rem; 
    }

    #causa li {
        font-size: 1rem; 
    }
}

/* Responsividade Apoie-se */
@media (max-width: 820px) {
    .apoie-container {
        grid-template-columns: 1fr; 
        gap: 40px;
    }

    .apoie-option-card > p {
        min-height: auto; 
    }

    .apoie-option-card h3 {
        font-size: 1.8rem;
    }

    .apoie-option-card .price {
        font-size: 2.8rem;
    }
}

/* Responsividade Checkout */
@media (max-width: 900px) {
    .checkout-grid { grid-template-columns: 1fr; }
    .checkout-right { order: 2; margin-top:12px; }
}