/* Reset e Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importação de fontes locais */
@font-face {
    font-family: 'ITC Officina Serif Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Officina Serif Std Book'), url('../assets/fontes/itc-officina-serif-std-book-58703733c9fd5.woff') format('woff');
    }

    @font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    size-adjust: 85%;
    src: local('Lemon/Milk Regular'), url('../assets/fontes/LemonMilk.woff') format('woff');
    }

/*Variáveis para cores e fontes*/
:root{
    /*Modo claro*/
    --primary-color: rgb(245, 249, 240);
    --bg-color1: rgb(230, 232, 226);
    --bg-color2: rgb(207, 207, 200);
    --title-color: rgb(22, 21, 22);
    --text-color: rgb(94, 93, 93);
    --border-color: rgb(255, 255, 255, 0);

    /*Definição das fontes principais*/
    --font-primary: 'ITC Officina Serif Std Book'; 
    --font-title: 'Lemon/Milk Regular';
    /* --font-primary: 'Montserrat', sans-serif;
    --font-title: 'Trade Winds', sans-serif; */
}

/* Modo escuro */
.dark-mode {
    --primary-color: rgb(0, 0, 0);
    --bg-color1: rgb(27, 27, 27);
    --bg-color2: rgb(19, 19, 19);
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(158, 158, 158);
    --border-color: rgb(255, 255, 255, 0);
}

/* Modo de alto contraste */
.high-contrast {
    --primary-color: black;
    --bg-color1: black;
    --bg-color2: black;
    --title-color: yellow;
    --text-color: white;
    --border-color: white;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.container{
    width: 80%;
    height:80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image{
    width: 40rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button:hover{
    border: none;
    background-color: white;
}

.login-button button a{
    text-decoration:none;
    font-weight: 500;
    color: black;
    background-color: white;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: gray;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin:0.6rem 0;
    padding: 0.8rem 1.2rem;
    border:none;
    border-radius: 10px;
    box-shadow:1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid black;
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.gender-group{
    display:flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #eeeeee75;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: gray;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}

@media screen and (max-width:1330px){
    .form-image{
        display:none;
    }
    .container{
        width: 50%;
    }
    .form{
        width:100%;
    }
}

@media screen and(max-width: 1064px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction:column;
        overflow-y:scroll;
        flex-wrap:nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs{
        margin-top: 2rem;
    }
    .gender-group{
        flex-direction:column;
    }
    .gender-input{
        margin-top: 0.5rem;
    }
}
