/* Cards grid container */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
}

/* Cards */
.card {
    background: var(--bg-color1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: solid 3px var(--border-color);
}

.card:hover {
    transform: translateY(-10px);
}

.card > img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card > .card-content{
    padding: 15px;
    margin-bottom: 15px;
}

.card > .card-content p {
    margin: 15px 0px 15px;
}

/* Player cards */

.card.player > .card-content p{
    font-size: 0.9rem;
}

/* Products cards */

.card.product{
    text-align: center;
}

.card.product p{
    font-weight: bold;
}