/* Reset e Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importação de fontes locais */
@font-face {
    font-family: 'ITC Officina Serif Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Officina Serif Std Book'), url('../assets/fontes/itc-officina-serif-std-book-58703733c9fd5.woff') format('woff');
    }

    @font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    size-adjust: 85%;
    src: local('Lemon/Milk Regular'), url('../assets/fontes/LemonMilk.woff') format('woff');
    }

/*Variáveis para cores e fontes*/
:root{
    /*Modo claro*/
    --primary-color: rgb(245, 249, 240);
    --bg-color1: rgb(230, 232, 226);
    --bg-color2: rgb(207, 207, 200);
    --title-color: rgb(22, 21, 22);
    --text-color: rgb(94, 93, 93);
    --border-color: rgb(255, 255, 255, 0);

    /*Definição das fontes principais*/
    --font-primary: 'ITC Officina Serif Std Book'; 
    --font-title: 'Lemon/Milk Regular';
    /* --font-primary: 'Montserrat', sans-serif;
    --font-title: 'Trade Winds', sans-serif; */
}

/* Modo escuro */
.dark-mode {
    --primary-color: rgb(0, 0, 0);
    --bg-color1: rgb(27, 27, 27);
    --bg-color2: rgb(19, 19, 19);
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(158, 158, 158);
    --border-color: rgb(255, 255, 255, 0);
}

/* Modo de alto contraste */
.high-contrast {
    --primary-color: black;
    --bg-color1: black;
    --bg-color2: black;
    --title-color: yellow;
    --text-color: white;
    --border-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/img.jpg.jpeg');
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color:black;
    border:2px solid white;
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container h1{
    font-size: 30px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    outline: none;
    font-size: 15px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i{
    position: absolute;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;

}

.remember-forgot{
    display: flex;
    justify-content: space-between;   
    font-size: 15px;
}

.remember-forgot label input{
 accent-color: white;
 margin-right: 5px;
}

.remember-forgot a{
    text-decoration: none;
    color: white;

}

.remember-forgot a:hover{
    text-decoration:underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color:black;
    font-weight: 600;
    box-shadow: 0 0 10px rgba (0,0,0, .1);
    margin-top: 20px;
}

.login:hover {
    background-color:transparent;
    border: 2px solid rgba(255,255,255, .2);
    color: white;
}

.register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}