/* Acessibilidade */
#acessibilidade {
    pointer-events: none;
    display: grid;

    grid-template-columns: 1fr 1fr; 
    align-items: start;
    justify-items: start;
    position: fixed;
    top: 25vh;
    left: 0;
    z-index: 1000;
    transition: 0.3s ease-out;
    transform: translateX(-50%); 
    /* Transição de opacidade no hover (Sintaxe CSS correta) */
    opacity: 0.3;
    
}

#acessibilidade:hover,
#acessibilidade.active{
    opacity: 1;
}

#acessibilidade > #configurações {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 0 0 5px 0;
    border: solid 3px var(--border-color);
    border-left: none; 
}

#acessibilidade > #mainBtn {
    font-size: 2rem;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--title-color);
    border-radius: 0 5px 5px 0;
    border: solid 3px var(--border-color);
    border-left: none; /* Sem borda na parte colada no menu */
    cursor: pointer;
    min-height: 0;
     /*position: relative;
    left: 100%;*/
}

/* Efeito de hover (Sintaxe CSS correta) */



#acessibilidade.active {
    transform: translateX(0); /* Tra_Z o menu de volta para a tela */
}

/* Permite cliques apenas nos filhos do widget */
#acessibilidade * {
    pointer-events: auto;
}