/* Hero Section */
#home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../assets/photos/Paulista 2025 - Erick 2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    padding-top: 80px;
}

.hero-content {
    margin: auto;
    padding: 2rem;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: white;
}