.flex-container{
    display: flex;
}

#table-list{
    width: min-content;
    background-color: var(--bg-color1);
}

#table{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    background-color: var(--bg-color2);
}

#table > p{
    width: 100%;
    text-align: center;
    margin: auto;
}

.table-line.header{
    background-color: var(--primary-color);
    color: var(--title-color);
}

.table-line{
    display: grid;
    --num-columns: 6;
    width: fit-content;
    grid-template-columns: 150px repeat(var(--num-columns, auto-fill), 250px);
    align-items: center;
}

.table-line > p{
    padding: 10px;
    overflow: hidden;
}

.table-line > .btnsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.table-line:nth-child(even){
    background-color: var(--bg-color1);
}

#table-list > .btn{
    width: 100%;
    border-radius: 0;
    text-align: start;
    border: 2px solid var(--primary-color);
    
}

#modal-overlay{
    position: fixed;
    display: none;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#modal-overlay.show{
    display: flex;
}

#modal-content{
    background-color: var(--primary-color);
    height: max-content;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}

#modal-content > form{
    display: flex;
    flex-direction: column;
}

#modal-content > form > input{
    margin-bottom: 20px;
}

#modal-content > form > .buttonsContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn.delete,
.btn.cancel{
    background-color: rgb(255, 49, 49);
    color: var(--primary-color);
}

.btn.delete:hover,
.btn.cancel:hover{
    background-color: rgb(134, 21, 21);
    color: var(--primary-color);
}

