#users-grid{
    margin-top: 40px;
    border: var(--primary-color) solid 5px;
    border-radius: 10px;
    margin: 0 auto;

}




#users-grid > div{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 0.2fr 0.2fr 0.2fr;
    padding: 10px;
    gap: 20px;
}

#users-grid > div{
    border: solid var(--border-color) 3px;
}

#users-grid > div:first-child{
    background-color: var(--primary-color);
    color: var(--title-color);

}

#users-grid > div{
    background-color: var(--bg-color2);
}

#users-grid > div > .btn:first-of-type{
    background-color: var(--bg-color1);
}

#users-grid > div > .btn:first-of-type:hover{
    background-color: var(--bg-color2);
}

/* Cor secundária */

#users-grid > div:nth-child(2n){
    background-color: var(--bg-color1);
}

#users-grid > div:nth-child(2n) > .btn:first-of-type{
    background-color: var(--bg-color2);
}

#users-grid > div:nth-child(2n) > .btn:first-of-type:hover{
    background-color: var(--bg-color1);
}

/* Botão de excluir */

#users-grid > div > .btn:last-of-type{
    background-color: red;
    color: var(--primary-color);
}

#users-grid > div > .btn:last-of-type:hover{
    background-color: rgb(160, 0, 0);
    color: var(--primary-color);
}

/* CSS para o Modal de Edição */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Começa escondido */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
    margin-top: 0;
}

/* Faz o modal aparecer */
.modal-overlay.show {
    display: flex;
}

.modal-content form div {
    margin-bottom: 1rem;
}
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}